<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro de Curso</title>
</head>
<body>

  <h1>Cadastro de Curso</h1>

  <form action="/curso" method="POST">

    <label>Código:</label>
    <input type="number" name="cod">
    <br><br>

    <label>Curso:</label>
    <input type="text" name="curso">
    <br><br>

    <label>Carga Horária:</label>
    <input type="number" name="ch">
    <br><br>

    <label>Tipo:</label>
    <input type="text" name="tipo">
    <br><br>

    <button type="submit">Cadastrar</button>

  </form>

</body>
</html>